/* google font poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins',
        sans-serif;
}

/* 
----------
nav style 
----------
*/

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 80.69%;
    height: 44px;
    left: 156px;
    top: 42px;
    z-index: 1;

}

.nav-item {
    height: 100%;

}

.nav-item .nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;

}

.nav-item .nav-links a {
    list-style: none;
    color: #ffffff;
    cursor: pointer;
    margin-right: 36px;
    width: 100%;
    transition: all 1s ease-in-out;
    border-bottom: 1px solid transparent;
}

.nav-item .nav-links a:hover {

    color: yellow;
    border-bottom: 1px solid yellow;

}

.nav-item .login {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 24px;
    background: #E02C6D;
    border: none;
    color: white;
    text-decoration: none;
}

.nav-item .login span {
    font-size: 1em;
}

.nav-item .login span:first-child {
    margin: 0px 8px;
}

/* banner section */

.banner {
    width: 100%;
    background-color: #2D25A0;
    height: 677px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.banner-title h1 {
    position: absolute;
    width: 485px;
    height: 230px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
    left: 156px;
    top: 207px;
}

.banner-title .button {
    background-color: #E02C6D;
    position: absolute;
    /* width: 168px;
    height: 44px; */
    left: 156px;
    top: 464px;
    padding: 10px 24px;
    border: none;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


}

.banner-title .button:hover {
    color: yellow;
}

.banner-title .button .fa-arrow-right {
    margin-left: 8px;
}

.banner-image {

    position: absolute;
    width: 556.01px;
    height: 438px;
    left: 743px;
    top: 153px;
}

.banner-image img {
    width: 100%;
}

/* 
players section
 */

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(4, 474px); */
    column-gap: 30px;
    row-gap: 30px;
    padding: 70px 150px;
}

.player {
    padding: 15px;
    /* width: 330px; */
    height: 474px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player .player-image {
    width: 300px;
}

.player .player-image img {
    width: 100%;
}

.player .player-name {
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    color: #18191F;
    margin-top: 16px;
    margin-bottom: 10px;
}

.player .player-details {
    font-size: 1em;
    line-height: 26px;
    font-weight: normal;
    color: #6C6C6C;
    margin-bottom: 18px;
}

/* highlights section */

.highlights {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 130px;
    flex-wrap: wrap;
}

.highlights div {
    height: 100%;
}

.highlights div:first-child {
    width: 40%;
    padding-right: 66px;
}

.highlights .highlights-title {
    font-weight: 900;
    font-size: 48px;
    line-height: 60px;
    color: #0A0826;

}

.highlights .highlights-description {
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 28px;
    color: #6C6C6C;
    margin-top: 8px;
    margin-bottom: 28px;
}

.highlights .button {
    background-color: #E02C6D;
    padding: 10px 24px;
    text-decoration: none;
    color: white;
}

.highlights .button:hover {
    color: yellow;
}

.highlights .button .fa-arrow-right {
    margin-left: 8px;
}

.highlights .highlights-image {
    width: 50%;

}

.highlights .highlights-image img {
    width: 100%;
}

footer {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 88px;
}

footer .footer-logo {
    width: 33.6%;
}

footer .footer-logo img {
    width: 100%;
}

footer .social-links {
    margin: 20px 0;
}

footer .social-links a {
    font-size: 1.5em;
    margin: 0 7px;
    color: #6C6C6C;
}

footer .copy-right {
    font-size: 1.11em;
    line-height: 24px;
    margin-bottom: 63px;
}